{% extends 'whatever/base.html' %}

{% block content %}

	{% for p in post %}
		<div class="content container">
	        <div class="row">
	            <div class="col-md-8">
		        <div class="post">
		        	<div class="date">
		            	<p>{{p.fecha_creacion}}</p>	
		        	</div>
		            <p>Usuario: {{ p.autor }}</p>
		            <h1><a href="">{{ p.titulo }}</a></h1>
		            <p>{{ p.texto|linebreaksbr }}</p>

		            <hr>
		            <br>
		        </div>
	             </div>
	        </div>
    	</div>
    {% endfor %}

{% endblock %}